* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 1.75vh;
}

body {
  margin: 0;
  background-color: #ddd;
}

.content {
  max-width: calc(100vh * 3 / 4);
  width: 100vw;
  min-height: 100vh;
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: white;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #242424;
}

::-webkit-scrollbar {
  height: 0.35rem;
  width: 0.35rem;
}

::-webkit-scrollbar-track-piece {
  border-radius: 0.7rem;
  background: #c2c9d2;
}
::-webkit-scrollbar-thumb {
  border-radius: 0.7rem;
  background: #e4c102;
}

.navbar {
  position: fixed;
  max-width: calc(100vh * 3 / 4);
  width: 100vw;
  bottom: 0;
  height: 6vh;
  background-color: #242424;
  display: flex;
  flex-direction: row;
}

.navbar-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  transition: background-color 0.25s ease-in-out;
  z-index: 1;
}

.navbar-item:hover {
  background-color: #181818;
}

.navbar-item.navbar-active {
  background-color: #181818;
}

.navbar-item-center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.navbar-item img {
  width: 4vh;
  z-index: 2;
}

.navbar-item-center a {
  transform: translate(-0.1rem, -0.1rem);
}

.navbar-item-center img {
  width: 3rem;
  max-width: 9vw;
}

.navbar-item-center div:nth-child(3) {
  transform: translateY(-4vh);
  background-color: #242424;
  position: absolute;
  width: 4rem;
  max-width: 10vw;
  height: 4rem;
  max-height: 10vw;
  padding: 1.2rem;
  border-radius: 50%;
  border: 1px solid #b59702;
  transition: background-color 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
}

.navbar-item-center div:nth-child(3):hover {
  background-color: #181818;
}

.navbar-item-center div:nth-child(3).navbar-active {
  background-color: #181818;
}

.navbar-item-center div:nth-child(1) {
  transform: translate(-2vh, -4vh) rotateZ(-25deg);
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4vh;
  width: 10vh;
  background-color: #242424;
}

.navbar-item-center div:nth-child(2) {
  transform: translate(2vh, -4vh) rotateZ(25deg);
  position: absolute;
  right: 0;
  bottom: 0;
  height: 4vh;
  width: 10vh;
  background-color: #242424;
}
