.content {
  background-color: white;
  font-family: "Raleway", sans-serif;
  height: auto;
}

#alert-added {
  width: 40%;
  margin: 0 auto 1rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: #70b500;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

main {
  padding: 0 4rem 8rem;
}
p {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  padding-top: 4rem;
  flex: 1;
  align-items: center;
  margin-bottom: 4rem;
}

header img {
  flex: 1 1;
}

#chevron-back {
  width: 30px;
  height: 30px;
}

header p {
  text-align: center;
  font-weight: 600;
  flex: 2 1;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  color: #e4c102;
}
header .blank {
  flex: 1 1;
}

@media (min-width: 601px) {
  .card {
    flex-direction: row;
  }

  .product-image {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: solid 4px #e4c102;
    width: 40%;
  }

  .edit-orders {
    display: flex;
    border: none;
    max-width: 100%;
    max-height: 5rem;
    position: absolute;
    bottom: 0;
  }

  .edit-buttons {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
    height: 20rem;
  }

  .product-image {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: solid 4px #e4c102;
    width: 100%;
    max-height: 10rem;
    min-height: 10rem;
  }

  .edit-orders {
    margin-top: 1rem;
    display: flex;
    border: none;
    max-width: 100%;
    max-height: 5rem;
  }

  .edit-buttons {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}

.card-placeholder{
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
}

.card{
  display: flex;
  border-radius: 10px;
  border: solid 4px #e4c102;
  min-height: 10rem;
  font-size: 1.2rem;
  margin-left: 0rem;
  margin-bottom: 1rem;
  margin-right: 0.25rem;
}

.card:last-child{
  margin-bottom: 0rem;
}

.product-image {
  object-fit: cover;
}

.card-details {
  flex: 2 1;
  position: relative;
  margin: 1rem;
}

.text p {
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.text small {
  font-size: 1.2rem;
}

.singular-product-count {
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 2rem;
  margin-right: 2rem;
}

.delete-item {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media (min-width: 381px) {
  .cart-summary {
    flex-direction: row;
    align-items: center;
  }
  #reserve-btn {
    padding: 1rem 2rem;
  }
}

@media (max-width: 380px) {
  .cart-summary {
    flex-direction: column;
    align-items: center;
  }

  #reserve-btn {
    margin-top: 1rem;
    padding: 0.5rem 4rem;
  }
}

.cart-summary {
  margin-top: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  height: 4rem;
}

#details-cart-summary {
  font-size: 1.2rem;
}

#reserve-btn {
  background: white;
  font-size: 1.1rem;
  color: #e4c102;
  border-radius: 15px;
  border: solid 2px #e4c102;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

#card-template {
  display: none;
}

.spinner {
  background-image: url("/img/loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5rem;
}
