.content {
  background: white;
  position: relative;
}
header {
  position: relative;
  text-align: center;
  vertical-align: middle;
  padding-top: 4rem;
  flex: 1;
  margin: 0 4rem;
  margin-bottom: 2rem;
}

header a {
  position: absolute;
  left: 0;
}

#chevron-back {
  width: 30px;
  height: 30px;
}

header p {
  bottom: 0;
  font-weight: 600;
  flex: 2 1;
  font-size: 2.2rem;
  color: #e4c102;
}

main {
  padding: 0rem 4rem;
  padding-bottom: 4rem;
}

.label {
  font-size: large;
  font-weight: 600;
  margin-bottom: 1rem;
}
.text {
  font-size: medium;
  margin-bottom: 1rem;
}
.menu-list {
  height: 40vh;
  overflow-y: auto;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.menu-card {
  display: flex;
  border-radius: 10px;
  border: solid 4px #e4c102;
  width: 100%;
  height: 11rem;
  margin-bottom: 2rem;
}

.product-image {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: solid 4px #e4c102;
  object-fit: cover;
  width: 12rem;
}

.card-details {
  flex: 2 1;
  position: relative;
  margin: 1rem;
}

.text p {
  font-size: large;
  padding-bottom: 1rem;
}
.text small {
  font-size: medium;
}

.edit-orders {
  display: flex;
  border: none;
  max-width: 100%;
  max-height: 5rem;
  position: absolute;
  bottom: 0;
}

.edit-buttons {
  width: 2.5rem;
  height: 2.5rem;
}
.singular-product-count {
  font-size: xx-large;
  font-weight: 300;
  margin-left: 2rem;
  margin-right: 2rem;
}

.cancel-reservation-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #c30000;
  background-color: white;
  color: #c30000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.delete-item {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: larger;
  margin-bottom: 1rem;
}

.confirm-reservation {
  display: flex;
  justify-content: center;
}

.confirm-reservation-btn {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #e4c102;
  font-size: large;
  border: none;
}
