.content {
  background-color: white;
  font-family: "Raleway", sans-serif;
  height: auto;
}

p {
  margin: 0;
  padding: 0;
}

.banner-container {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: white;
  background-color: #242424;
  height: auto;
}

.banners {
  overflow-x: hidden;
}

.banner-carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.banner {
  width: 100%;
  min-height: 6rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner img {
  max-width: 100%;
  max-height: 30vh;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 0.7rem;
}

.dots {
  margin-top: 1rem;
  text-align: center;
}

.dot-active {
  height: 0.8rem;
  width: 0.8rem;
  margin-right: 0.5rem;
  background-color: #e4c102;
  border-radius: 50%;
  display: inline-block;
}
.dot {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.3rem;
  background-color: #847213;
  border-radius: 50%;
  display: inline-block;
}

.page-container {
  overflow: hidden;
  overflow-x: auto;
  padding: 0 min(4rem, 10vw);
  color: black;
}

.products {
  padding-top: min(3rem, 6vw);
}
.heading {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.product-entry {
  margin-top: 1.5rem;
  display: flex;
  overflow-x: auto;
}

.product-card {
  width: 15rem;
  min-width: 15rem;
  max-width: 15rem;
  height: 100%;
  margin: 0rem 1rem 0.5rem 1rem;
}

.product-card:first-child{
  margin-left: 0;
}
.product-card:last-child{
  margin-right: 0;
}

hr {
  margin: 0;
  padding: 0;
  border: solid #e4c102;
}

.product-card .product-image {
  background-color: #cccccc;
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.detail {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #242424;
  color: #e4c102;
  padding: 1rem 1rem 2rem;
  height: auto;
  position: relative;
}

.detail img {
  width: 2rem;
  height: 2rem;
  float: right;
}

#card-template {
  display: none;
}

#banner-template {
  display: none;
}

.placeholder-card-top {
  min-width: 15rem;
  min-height: 18rem;
  max-width: 15rem;
  max-height: 18rem;
  margin-right: 2rem;
}

.placeholder-card-recommended {
  min-width: 15rem;
  min-height: 18rem;
  max-width: 15rem;
  max-height: 18rem;
  margin-right: 2rem;
}

.placeholder-banner {
  height: 30vh;
}

.placeholder {
  background-image: url("/img/loading.gif");
  background-repeat: no-repeat;
  background-size: 5rem 5rem;
  background-position: center center;
  width: 100%;
}

.padding-bottom {
  height: 8rem;
}

.add-to-cart {
  cursor: pointer;
}



.cart-added {
  position: absolute;
  left: 0;
  right: 0;
  top: -100%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  font-weight: bold;
  font-size: 0.75rem;
  background-color: #242422;
  border-radius: 10px;
  width: 50%;
  padding: 0.5rem 0.5rem;
}