.content {
    background-image: url("/img/loginbg.jpg");
    background-size: cover;
    background-position: center center;
}

.inner-content {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-top: 10vh;
    margin: 0 auto;
    max-width: 25vh;
    width: 75%;
}

.login-form {
    position: relative;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.login-form label {
    padding-top: 2rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #E4C102;
}

.login-form input {
    padding-top: 1rem;
    background: none;
    border: none;
    border-bottom: 1.5px solid #E4C102;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #FFFFFF;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.login-form .field:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.login-form .field:focus {
    background-color: rgba(0, 0, 0, 0.2);
}

.login-form .forget {
    margin-left: auto;
    background: none;
    outline: none;
    border: none;
    padding-top: .7rem;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-size: 1.2rem;
    color: #E4C102;
    transition: color 0.2s ease-in-out;
}

.login-form .forget:hover {
    color: #b59702;
}

.login-form .forget:focus {
    color: #b59702;
}

.login-form div {
    margin: 0 auto;
    padding-top: .7rem;
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-size: 1.2rem;
    color: #E4C102;
    text-align: center;
}

.login-form div .register {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    color: #E4C102;
}

.login-form div .register:hover {
    color: #b59702;
}

.register-form div .register:focus {
    color: #b59702;
}

.login-form #login {
    font-family: 'Raleway', sans-serif;
    font-size: min(2rem, calc(3vw + 1rem));
    color: #242424;
    background-color: #F9F7F0;
    border-radius: 0.3rem;
    padding: min(1rem, 3vw);
    margin-top: 2.5rem;
    width: 100%;
    transition: background-color 0.2s ease-in-out;
}

.login-form #login:hover {
    background-color: #d0ceb6;
}

.error {
    display: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #fa5b00 !important;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 7vh;
}

.loggedin {
    display: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #70b500 !important;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 7vh;
}