.content {
  background: white;
  min-height: 100vh;
  height: auto;
}

.header {
  height: 20vh;
  max-height: 40vw;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/img/searchbg.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search {
  width: 75%;
  outline: none;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.search input {
  outline: none;
  background-color: #fff;
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: min(1rem, 3vw) 1rem;
  flex: 1;
}

.search button {
  background-color: #fff;
  border: none;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: min(1rem, 3vw) 1rem;
}

.search button img {
  width: 2rem;
  max-width: 5vw;
}

.inner-content {
  height: 100%;
  padding: 2rem 10% 4rem;
}

.categories {
  position: relative;
}

.categories h2 {
  font-family: "Raleway", sans-serif;
  margin-bottom: 0;
}

.categories-carousel {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  flex-wrap: nowrap;
  padding: 0.5rem 0;
  margin-bottom: 1rem;
}

.carousel {
  margin: 0 0.5rem;
  font-family: "Raleway", sans-serif;
  color: #000;
  background-color: #d0ceb6;
  border-radius: 0.6rem;
  padding: 0.5rem 0.8rem;
  user-select: none;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.carousel-active {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
  color: black;
  background-color: #e4c102;
  border: 1px solid white;
}

.label {
  margin-bottom: 1rem;
}

/* menu */
.card-list {
  height: 50vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.card-list > :nth-child(2) {
  margin-top: 0rem !important;
}
.card-list > :last-child {
  margin-bottom: 0rem !important;
}

@media (min-width: 481px) {
  .card {
    flex-direction: row;
    height: 15rem;
  }

  .product-image {
    border-radius: 0.5rem 0 0 0.5rem;
    border-right: solid 4px #e4c102;
    height: 100%;
    width: 40%;
  }
}

@media (max-width: 480px) {
  .card {
    flex-direction: column;
  }

  .product-image {
    border-radius: 0.5rem 0.5rem 0 0;
    border-bottom: solid 4px #e4c102;
    width: 100%;
    min-height: 10rem;
    max-height: 10rem;
  }
}

.card {
  display: flex;
  border-radius: 10px;
  border: solid 4px #e4c102;
  width: 100%;
  margin: 1rem 0 2rem;
}

.product-image {
  object-fit: cover;
}

.card-details {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
}

.product-name {
  display: flex;
  flex: 2;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 600;
}
.traits-icon {
  margin-left: 0.5rem;
  min-width: 1rem;
  min-height: 1rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
}
.text small {
  font-size: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.plus-btn {
  width: 2rem;
  height: 2rem;
}
.price-and-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-and-btn p {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #e4c102;
  background-color: #242424;
  border-radius: 15px;
  border: solid 2px #e4c102;
}

.price-and-btn a {
  position: relative;
}

#card-template {
  display: none;
}

#carousel-template {
  display: none;
}

.spinner {
  background-image: url("/img/loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5rem;
}

.cart-added {
  position: absolute;
  right: calc(100% + 0.5rem);
  top: calc(50% - 0.55rem);
  width: 10rem;
  height: 1rem;
  font-size: 0.88rem;
  text-align: right;
  pointer-events: none;
  vertical-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
