.content {
  background: white;
  position: relative;
  overflow-x: hidden;
}
header {
  display: flex;
  padding-top: 4rem;
  flex: 1;
  align-items: center;
  margin-bottom: 2rem;
}

header a {
  flex: 1 1;
  text-align: center;
}

#chevron-back {
  width: 30px;
  height: 30px;
}

header p {
  text-align: center;
  font-weight: 600;
  flex: 2 1;
  font-size: 1.7rem;
  color: #e4c102;
}
header .blank {
  flex: 1 1;
}

main {
  padding: 0 10% 8rem;
}

@media (min-width: 481px) {
  .schedule {
    flex-direction: row;
  }

  .date {
    padding-right: 1rem;
  }
}

@media (max-width: 480px) {
  .schedule {
    flex-direction: column;
  }

  .date {
    padding-bottom: 1rem;
  }
}

.schedule {
  display: flex;
  margin-bottom: 1rem;
}

.date {
  font-size: 1.2rem;
  width: 100%;
  border: none;
  flex: 3;
}
.date input {
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.time {
  font-size: 1.2rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.time select {
  padding: 0.5rem 1rem;

  height: max-content;
  border-radius: 10px;
  margin: 0;
}
.label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.canvas {
  text-align: center;
  width: 100%;
  height: 40vh;
  border: 1px solid #000000;
  border-radius: 10px;
}
.details {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.reserve {
  display: flex;
  width: 100%;
  justify-content: center;
}
.reserve a {
  padding: 1rem 1.5rem;
  color: #242424;
  font-size: 1.2rem;
  background-color: #e4c102;
  border-radius: 10px;
}
/* Modal Booked Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
}
.modal {
  max-width: calc(0.5 * 100vh * 3 / 4);
  width: 30vw;
  background-color: white;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}
.close-modal-btn {
  margin-top: 1rem;
  padding: 1rem 2rem;
  background-color: #e4c102;
  color: black;
  font-size: 1.2rem;
  border: 2px solid #e4c102;
  border-radius: 10px;
}

/* Confirm Reservation Overlay */

.navbar {
  z-index: 10;
}

.confirm-reservation-overlay {
  margin: 0 auto;
  background-color: white;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(150%);
  transition: transform 0.5s ease-in-out;
}

.confirm-reservation-label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.menu-list {
  height: 40vh;
  overflow-y: auto;
  padding-right: 1rem;
  margin-bottom: 1rem;
}
.menu-card {
  display: flex;
  border-radius: 10px;
  border: solid 4px #e4c102;
  width: 100%;
  height: 9rem;
  margin-bottom: 2rem;
}
.product-image {
  height: 100%;
  flex: 1;
  min-width: 8rem;
  max-width: 12rem;
  object-fit: cover;
}
.product-details {
  flex: 3;
  padding: 1rem;
  border-left: 4px solid #e4c102;
}
.text {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.cancel-reservation-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #c30000;
  background-color: white;
  color: #c30000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.delete-item {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
}

.total-cost {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.confirm-reservation {
  display: flex;
  justify-content: center;
}

.confirm-reservation-btn {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: #e4c102;
  font-size: 1.2rem;
  border: none;
}
