.content {
    position: relative;
    overflow-x: hidden;
}

.inner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 0;
    margin: 0 10%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.profile-img {
    width: 8rem;
    max-width: 8rem;
    height: 8rem;
    background-image: url("/img/profile.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

#profile-name {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;
}

.options {
    padding: 3rem 2rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.option {
    width: 100%;
    padding: 0.6rem 0.3rem;
    margin: 1rem 0;
    border-bottom: 1px solid #E4C102;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.option img {
    width: 1rem;
}

.thank-you {
    font-size: 1.4rem;
    color: #E4C102;
    width: 100%;
    text-align: center;
}

.thank-you-img {
    height: 10rem;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/img/thank-you.svg");
    background-blend-mode: screen;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 1rem;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout-modal {
    max-width: calc(0.5 * 100vh * 3 / 4);
    width: 80vw;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 2rem 2rem 1.2rem 2rem;
    position: relative;
}

.logout-modal p {
    padding: 2rem 0;
}

.logout-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding-top: 1.3rem;
}

.logout-buttons button {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 0 0.6rem;
    flex: 1;
    padding: 0.7rem 1.5rem;
    border-radius: 0.6rem;
    outline: none;
    border: none;
}

#logout-button-yes {
    background-color: #F9F7F0;
    color: #c4c4c4;
    border: 2px solid #cfbebe;
}

#logout-button-no {
    background-color: #E4C102;
    color: black;
    border: 2px solid #E4C102;
}

#logout-button-exit {
    height: 1.3rem;
    width: 1.3rem;
    background-image: url("/img/exit.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    right: 0.7rem;
    top: 0.7rem;
    cursor: pointer;
    border-radius: 50%;
}

.change-password-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 2rem;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(101%);
    transition: transform 0.5s ease-in-out;
}

.change-password-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.change-password-header::after {
    content: "";
    width: 2rem;
    height: 2rem;
}

#changepass-back {
    width: 2rem;
    height: 2rem;
    background-image: url("/img/back.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.change-password-header span {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: #E4C102;
    font-size: 1.6rem;
}

.change-password-content {
    margin: 5rem 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-password-content form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.change-password-content h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.change-password-content input {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    padding: 0.3rem 0;
    margin: 0.7rem auto;
    outline: none;
    border: none;
    border-bottom: 1px solid #E4C102;
    width: 100%;
}

.change-password-content input::placeholder {
    color: #c4c4c4;
}

#changepass-submit {
    margin: 1rem 1rem;
    background-color: #E4C102;
    outline: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 0.6rem;
    padding: 1rem;
    cursor: pointer;
}

.change-password-warning {
    text-align: center;
    width: 100%;
    height: 2rem;
    color: #fa5b00;
}

#changepass-success {
    color: #70b500 !important;
    display: none;
}

#changepass-wrongconfirm {
    display: none;
}

#changepass-wrongpassword {
    display: none;
}

#changepass-unknownerror {
    display: none;
}

#changepass-samepassword {
    display: none;
}