.content {
  background: white;
  position: relative;
}
header {
  display: flex;
  padding-top: 4rem;
  flex: 1;
  align-items: center;
  margin-bottom: 2rem;
}

header a {
  flex: 1 1;
  text-align: center;
}

#chevron-back {
  width: 30px;
  height: 30px;
}

header p {
  text-align: center;
  font-weight: 600;
  flex: 2 1;
  font-size: 1.7rem;
  color: #e4c102;
}

header .blank {
  flex: 1 1;
}

main {
  padding: 0rem 4rem;
  padding-bottom: 4rem;
}

#history {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

#reservation-list {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 0.5rem;
  padding-right: 0.25rem;
  width: 100%;
  max-height: 55vh;
  min-height: 55vh;
  overflow-y: auto;
}

.reservation-card {
  position: relative;
  font-size: 1rem;
  width: 100%;
  border-radius: 10px;
  border: solid 2px #e4c102;
  padding: 1rem;
  margin-bottom: 1rem;
}
.reservation-card:last-child{
  margin-bottom: 0rem;
}

.no-reservation {
  font-size: 1.5em;
}

.time {
  padding-bottom: 2rem;
}
.align-center {
  display: flex;
  width: 100%;
  justify-content: center;
}

.reservation-detail {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #e4c102;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.status {
  position: absolute;
  margin-right: 1rem;
  margin-top: 1rem;
  top: 0;
  right: 0;
}
.new-reservation {
  height: 100%;
  max-height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.new-reservation-btn {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #e4c102;;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.new-reservation-btn img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.spinner {
  background-image: url("/img/loading.gif");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5rem;
}
