.content {
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  padding-top: 4rem;
  align-items: center;
  margin-bottom: 2rem;
}

header a {
  flex: 1 1;
  text-align: center;
}

#chevron-back {
  width: 30px;
  height: 30px;
}

header p {
  text-align: center;
  font-weight: 600;
  flex: 2 1;
  font-size: 1.6rem;
  color: #e4c102;
}
header .blank {
  flex: 1 1;
}

#data {
  padding: 0 10% 8rem;
  flex: 1;
  display: none;
  flex-direction: column;
  max-height: calc(100% - 8rem);
  overflow: hidden;
}

.reservation-detail-text {
  width: 100%;
  position: relative;
  height: auto;
  padding: 1rem;
  border: 2px solid #e4c102;
  font-size: 1.1em;
  border-radius: 10px;
}

.text {
  margin-bottom: 1rem;
}

.label {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.menu-list {
  overflow-y: auto;
  padding-right: 1rem;
  margin-bottom: 2rem;
}

@media (min-width: 381px) {
  .reservation-detail-text img {
    width: 4rem;
    height: 4rem;
    position: absolute;
    margin-top: 1rem;
    margin-right: 1rem;
    top: 0;
    right: 0;
  }

  .menu-card {
    flex-direction: row;
    height: 9rem;
  }

  .product-image {
    height: 100%;
    width: 40%;
  }

  .product-details {
    border-left: 4px solid #e4c102;
  }
}

@media (max-width: 380px) {
  .reservation-detail-text img {
    width: 100%;
    height: 4rem;
    margin: 0 auto 1rem;
  }

  .menu-card {
    flex-direction: column;
  }

  .product-image {
    max-height: 10rem;
    width: 100%;
  }

  .product-details {
    border-top: 4px solid #e4c102;
  }
}

.menu-card {
  display: flex;
  border-radius: 10px;
  border: solid 4px #e4c102;
  width: 100%;
  margin-bottom: 2rem;
}

.product-image {
  object-fit: cover;
}
.product-details {
  flex: 1;
  padding: 1rem;
}

.cancel-reservation {
  display: flex;
  justify-content: center;
}
.cancel-reservation-btn {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-weight: 600;
  border: 2px solid #c30000;
  background-color: white;
  color: #c30000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.spinner {
  background-image: url("/img/loading.gif");
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 5rem;
  width: 100%;
}

/* Cancel Reservation */

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logout-modal {
  max-width: calc(0.5 * 100vh * 3 / 4);
  width: 80vw;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 2rem 2rem 1.2rem 2rem;
  position: relative;
}

.logout-modal p {
  padding: 2rem 0;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 1.3rem;
}

.buttons button {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 0.6rem;
  flex: 1;
  padding: 0.7rem 1.5rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
}

#button-yes {
  background-color: #ffffff;
  color: #c30000;
  border: 2px solid #c30000;
}

#button-no {
  background-color: #e4c102;
  color: black;
  border: 2px solid #e4c102;
}

#button-exit {
  height: 1.3rem;
  width: 1.3rem;
  background-image: url("/img/exit.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  right: 0.7rem;
  top: 0.7rem;
  cursor: pointer;
  border-radius: 50%;
}
